[modules]

nanogen.tasks


[analysis]

default_config: config_ul18
default_dataset: ggf_hh_bbtt_sm
default_wlcg_fs: $NG_DEFAULT_WLCG_FS

htcondor_flavor: $NG_HTCONDOR_FLAVOR
slurm_flavor: $NG_SLURM_FLAVOR
slurm_partition: $NG_SLURM_PARTITION

# output locations per task family, "local", "dcache" or (an other) "wlcg"
BundleRepo: local
GetDatasetLFNs: local
CreateCMSRunConfig: local
FetchLFN: dcache
CreateNano: dcache
bbtt.ReduceNano: local


[job]

job_file_dir: $NG_JOB_BASE
job_file_dir_cleanup: False


[logging]

law: INFO
luigi-interface: INFO
gfal2: WARNING


[local_fs]
# default local file system relative to the system root

base: /


[local_fs_store]
# local fs for task outputs

base: $NG_STORE_LOCAL


[local_fs_dcache_store]
# local desy dcache mount for task outputs

base: /pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store


[wlcg_fs]
# remote fs for intermediate outputs

base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store
base: &::base_xrootd
base_filecopy: &::base_gsiftp
base_mkdir: &::base_gsiftp
base_mkdir_rec: &::base_mkdir
create_file_dir: True
use_cache: $NG_WLCG_USE_CACHE
cache_root: $NG_WLCG_CACHE_ROOT
cache_cleanup: $NG_WLCG_CACHE_CLEANUP
cache_max_size: 50GB


[wlcg_fs_cmssw]
# remote fs for intermediate outputs, with protocols update for use within cmssw

# xrootd and webdav are broken, should be checked again after switch to el9
base: &::wlcg_fs::base_gsiftp
# base_filecopy: &::wlcg_fs::base_gsiftp
# base_mkdir: &::wlcg_fs::base_gsiftp
# base_mkdir_rec: &::base_mkdir
create_file_dir: True
use_cache: $NG_WLCG_USE_CACHE
cache_root: $NG_WLCG_CACHE_ROOT
cache_cleanup: $NG_WLCG_CACHE_CLEANUP
cache_max_size: 50GB


[local_fs_desy_redirector]
# local dcache mount for resolving lfns in case they are stored at desy

base: /pnfs/desy.de/cms/tier2


[wlcg_fs_desy_redirector]
# desy remote fs for resolving lfns in case they are stored at desy

base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2
base: &::base_xrootd


[wlcg_fs_infn_redirector]
# european redirector

base: root://xrootd-cms.infn.it/
use_cache: $NG_WLCG_USE_CACHE
cache_root: $NG_WLCG_CACHE_ROOT
cache_cleanup: $NG_WLCG_CACHE_CLEANUP
cache_max_size: 15GB
cache_global_lock: True
cache_mtime_patience: -1


[wlcg_fs_fnal_redirector]
# us redirector

base: root://cmsxrootd.fnal.gov/
use_cache: $NG_WLCG_USE_CACHE
cache_root: $NG_WLCG_CACHE_ROOT
cache_cleanup: $NG_WLCG_CACHE_CLEANUP
cache_max_size: 15GB
cache_global_lock: True
cache_mtime_patience: -1


[wlcg_fs_global_redirector]
# global redirector

base: root://cms-xrd-global.cern.ch/
use_cache: $NG_WLCG_USE_CACHE
cache_root: $NG_WLCG_CACHE_ROOT
cache_cleanup: $NG_WLCG_CACHE_CLEANUP
cache_max_size: 15GB
cache_global_lock: True
cache_mtime_patience: -1


[luigi_core]

local_scheduler: $NG_LOCAL_SCHEDULER
scheduler_host: $NG_SCHEDULER_HOST
scheduler_port: $NG_SCHEDULER_PORT
parallel_scheduling: False
no_lock: True
log_level: INFO


[luigi_scheduler]

record_task_history: False
remove_delay: 86400
retry_delay: 30
worker_disconnect_delay: 30


[luigi_worker]

ping_interval: 20
wait_interval: 20
check_unfulfilled_deps: False
cache_task_completion: True
keep_alive: $NG_WORKER_KEEP_ALIVE
force_multiprocessing: False
