[modules]
# modules for indexing
nanogen.tasks


[analysis]
# nanogen specific setttings
default_config: config_18_v12
default_dataset: ggf_hh_bbtt_sm

htcondor_flavor: $NG_HTCONDOR_FLAVOR
slurm_flavor: $NG_SLURM_FLAVOR
slurm_partition: $NG_SLURM_PARTITION

# output locations per task family, "local", "dcache" or (an other) "wlcg"
# DO NOT CHANGE ANYTHING HERE
BundleRepo: local
GetDatasetLFNs: local
CreateCMSRunConfig: local
FetchLFN: dcache
bbtt.ReduceNano: local

# TO CHANGE THE LOCATION OF THE NANO OUTPUT FILES, CHANGE THE WLCG AND LOCAL FS ENTRIES BELOW
CreateNano: dcache, local_fs_dcache_store, wlcg_fs
MergeNano: dcache, local_fs_dcache_store, wlcg_fs
CollectNanoSizes: dcache, local_fs_dcache_store, wlcg_fs
# 16pre
CreateNano_config_16pre_v12: dcache, local_fs_dcache_store_mrieger, wlcg_fs_mrieger
MergeNano_config_16pre_v12: dcache, local_fs_dcache_store_mrieger, wlcg_fs_mrieger
CollectNanoSizes_config_16pre_v12: dcache, local_fs_dcache_store_mrieger, wlcg_fs_mrieger
# 16post
CreateNano_config_16post_v12: dcache, local_fs_dcache_store_mrieger, wlcg_fs_mrieger
MergeNano_config_16post_v12: dcache, local_fs_dcache_store_mrieger, wlcg_fs_mrieger
CollectNanoSizes_config_16post_v12: dcache, local_fs_dcache_store_mrieger, wlcg_fs_mrieger
# 17
CreateNano_config_17_v12: dcache, local_fs_dcache_store_aalvesan, wlcg_fs_aalvesan
MergeNano_config_17_v12: dcache, local_fs_dcache_store_aalvesan, wlcg_fs_aalvesan
CollectNanoSizes_config_17_v12: dcache, local_fs_dcache_store_aalvesan, wlcg_fs_aalvesan
# 18
CreateNano_config_18_v12: dcache, local_fs_dcache_store_pkeicher, wlcg_fs_pkeicher
MergeNano_config_18_v12: dcache, local_fs_dcache_store_pkeicher, wlcg_fs_pkeicher
CollectNanoSizes_config_18_v12: dcache, local_fs_dcache_store_pkeicher, wlcg_fs_pkeicher
# 22pre(EE)
CreateNano_config_22pre_v12: dcache, local_fs_dcache_store_nprouvos, wlcg_fs_nprouvos
MergeNano_config_22pre_v12: dcache, local_fs_dcache_store_nprouvos, wlcg_fs_nprouvos
CollectNanoSizes_config_22pre_v12: dcache, local_fs_dcache_store_nprouvos, wlcg_fs_nprouvos
# 22post(EE)
CreateNano_config_22post_v12: dcache, local_fs_dcache_store_aalvesan, wlcg_fs_aalvesan
MergeNano_config_22post_v12: dcache, local_fs_dcache_store_aalvesan, wlcg_fs_aalvesan
CollectNanoSizes_config_22post_v12: dcache, local_fs_dcache_store_aalvesan, wlcg_fs_aalvesan
# 23pre(BPIX)
CreateNano_config_23pre_v12: dcache, local_fs_dcache_store_roward, wlcg_fs_roward
MergeNano_config_23pre_v12: dcache, local_fs_dcache_store_roward, wlcg_fs_roward
CollectNanoSizes_config_23pre_v12: dcache, local_fs_dcache_store_roward, wlcg_fs_roward
# 23post(BPIX)
CreateNano_config_23post_v12: dcache, local_fs_dcache_store_bwieders, wlcg_fs_bwieders
MergeNano_config_23post_v12: dcache, local_fs_dcache_store_bwieders, wlcg_fs_bwieders
CollectNanoSizes_config_23post_v12: dcache, local_fs_dcache_store_bwieders, wlcg_fs_bwieders


[job]
# law job settings
job_file_dir: $NG_JOB_BASE
job_file_dir_cleanup: False
job_file_dir_mkdtemp: sub_{{task_id}}_XXX


[logging]
# logging settings
law: INFO
luigi-interface: INFO
gfal2: WARNING


[local_fs]
# default local file system relative to the system root
base: /


[local_fs_store]
# local fs for task outputs
base: $NG_STORE_LOCAL


[local_fs_dcache_store]
# local, read-only desy dcache mount for accessing intermediate task outputs
# for the current user
base: /pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store


[wlcg_fs]
# remote fs for intermediate outputs
# for the current user
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/$NG_CERN_USER_DCACHE_STORE/nanogen_store
base: &::base_webdav
create_file_dir: True
use_cache: $NG_WLCG_USE_CACHE
cache_root: $NG_WLCG_CACHE_ROOT
cache_cleanup: $NG_WLCG_CACHE_CLEANUP
cache_max_size: 50GB


# storage location for marcel's dcache directory
[local_fs_dcache_store_mrieger]
base: /pnfs/desy.de/cms/tier2/store/user/mrieger/nanogen_store
[wlcg_fs_mrieger]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/mrieger/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/mrieger/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/mrieger/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


# storage location for philip's dcache directory
[local_fs_dcache_store_pkeicher]
base: /pnfs/desy.de/cms/tier2/store/user/pkeicher/nanogen_store
[wlcg_fs_pkeicher]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/pkeicher/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/pkeicher/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/pkeicher/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


# storage location for nathan's dcache directory
[local_fs_dcache_store_nprouvos]
base: /pnfs/desy.de/cms/tier2/store/user/nprouvos/nanogen_store
[wlcg_fs_nprouvos]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/nprouvos/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/nprouvos/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/nprouvos/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


# storage location for bogdan's dcache directory
[local_fs_dcache_store_bwieders]
base: /pnfs/desy.de/cms/tier2/store/user/bwieders/nanogen_store
[wlcg_fs_bwieders]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/bwieders/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/bwieders/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/bwieders/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


# storage location for ana's dcache directory
[local_fs_dcache_store_aalvesan]
base: /pnfs/desy.de/cms/tier2/store/user/aalvesan/nanogen_store
[wlcg_fs_aalvesan]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/aalvesan/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/aalvesan/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/aalvesan/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


# storage location for anas' dcache directory
[local_fs_dcache_store_anhaddad]
base: /pnfs/desy.de/cms/tier2/store/user/anhaddad/nanogen_store
[wlcg_fs_anhaddad]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/anhaddad/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/anhaddad/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/anhaddad/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


# storage location for rob's dcache directory
[local_fs_dcache_store_roward]
base: /pnfs/desy.de/cms/tier2/store/user/roward/nanogen_store
[wlcg_fs_roward]
base_xrootd: root://dcache-cms-xrootd.desy.de:1094/pnfs/desy.de/cms/tier2/store/user/roward/nanogen_store
base_gsiftp: gsiftp://dcache-door-cms04.desy.de:2811/pnfs/desy.de/cms/tier2/store/user/roward/nanogen_store
base_webdav: davs://dcache-cms-webdav-wan.desy.de:2880/pnfs/desy.de/cms/tier2/store/user/roward/nanogen_store
base: &::base_webdav
create_file_dir: &::wlcg_fs::create_file_dir
use_cache: &::wlcg_fs::use_cache
cache_root: &::wlcg_fs::cache_root
cache_cleanup: &::wlcg_fs::cache_cleanup
cache_max_size: &::wlcg_fs::cache_max_size


[luigi_core]
# luigi core settings
local_scheduler: $NG_LOCAL_SCHEDULER
scheduler_host: $NG_SCHEDULER_HOST
scheduler_port: $NG_SCHEDULER_PORT
parallel_scheduling: False
no_lock: True
log_level: INFO


[luigi_scheduler]
# luigi scheduler settings
record_task_history: False
remove_delay: 86400
retry_delay: 30
worker_disconnect_delay: 30


[luigi_worker]
# luigi worker settings
ping_interval: 20
wait_interval: 20
check_unfulfilled_deps: False
cache_task_completion: True
keep_alive: $NG_WORKER_KEEP_ALIVE
force_multiprocessing: False


[luigi_resources]

naf_riegerma: 5000
naf_pkeicher: 5000
naf_alvesand: 5000
naf_wiedersb: 5000
naf_prouvost: 5000
naf_haddadan: 5000
naf_nguyenth: 5000
naf_wardrobe: 5000
